{% extends "headermenu.html" %}
{% block content %}
    <div class="row justify-content-center">
        <h2>Database Content</h2>
    </div>
    <div class="row justify-content-center">
        <p>Content stored in database</p>
    </div>
    <div class="row justify-content-center">
        <a href="{{url_for('search_all')}}"><button type="button" class="btn btn-primary">Search All</button></a>

        <form method="POST" action="{{url_for('search', action='name')}}">
            <input type="text" name="name" placeholder="Lebron">
            <input type="submit" value="Search first/last name">
        </form>

        <form method="POST" action="{{url_for('search', action='college')}}">
            <input type="text" name="name" placeholder="Duke">
            <input type="submit" value="Search College">
        </form>
        <form method="POST" action="{{url_for('search', action='height')}}">
            <input type="text" name="name" placeholder="5.11">
            <input type="submit" value="Search height">
        </form>
    </div>
        {% if err_msg != "" %}
        <div class="row justify-content-center">
            <div >{{err_msg}}</div>
        </div>
        {% endif %}
    <div class="row justify-content-center">
        <div class="col col-lg-11">
            <table class="table table-hover  table-responsive-lg">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Birthday</th>
                    <th>College</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Detail link</th>
                    <th>Img Link</th>
                    <th>Update</th>
                    <th>Delete</th>
                    </tr>
                </thead>
                    <tbody>
                        {%if action != "start" %}
                        {% for index in range(0, result_size) %}
                            <tr>
                                <th scope="row">{{all_players_list[index].player_id}}</th>
                                <td>{{all_players_list[index].first_name}}</td>
                                <td>{{all_players_list[index].last_name}}</td>
                                <td>{{all_players_list[index].birthday}}</td>
                                <td>{{all_players_list[index].college}}</td>
                                <td>{{all_players_list[index].height}}</td>
                                <td>{{all_players_list[index].weight}}</td>
                                <td>{{all_players_list[index].detail_link}}</td>
                                <td>{{all_players_list[index].detail_link}}</td>
                                <td><a href="{{url_for('get_data_update', player_id=all_players_list[index].player_id)}}"><button type="button" class="btn btn-info">Update</button></a></td>
                                <td><a href="{{url_for('delete_entry', player_id=all_players_list[index].player_id)}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}