{% extends "headermenu.html" %}
{% block content %}
    <div class="row justify-content-center">
        <h2>Final project for Python class Epita Fundamental semester 2019</h2>
        <p>The project consists of a web app made with flask that scrapes 
            the data of nba players since 1950. The results are displayed in a table
            where you can view the whole data found. To view the images of the players
            simply click on profile to view it.
        </p>
    </div>
{% endblock %}